p {
    text-indent: .3em;
}

.meta {
    border: 2px outset rgb(120, 130, 200);
    border-radius: 1ex;
    display: inline-block;
    padding: .3em;
    margin: .5em;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 5em;
    max-height: 80vh;
    width: 100%;
    -moz-tab-size: 3;
    -o-tab-size: 5;
    tab-size: 3;
}

#texLiveOut {
    border: 3px outset skyblue;
    margin: 0;
    background-color: rgb(230,230,255);
}

#texLiveOut div > div {
    display: inline-block;
    margin: .6em;
    padding: .1em;
    background-color: rgb(230,230,230);
    border: 3px outset skyblue;
}

#texOut {
    border: 1px dashed black;
    background-color: palegoldenrod;
    display: block;
}

.radioButtons {
    margin: .5em;
    display: inline-block;
}

input[type="text"] {
    width: 54ex;
}

.checkboxHolder {
    display: inline-block;
    font-size: 80%;
}

.checkbox {
    display: inline;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 2px;
}

button {
    margin: .2em;
}

details {
    border: 3px outset grey;
    background: rgb(230, 230, 230);
}

.hide {
    display: none;
}

td.checkboxlist {
    font-size: 70%;
}

.errorout {
    padding: .6em;
}

.practicetestconfig .errorout:empty {
    display: none;
}

.practicetestconfig .errorout {
    background: rgb(255, 170, 170);
    border: 3px outset red;
    border-radius: 8px;
}

.practicetestconfig {
    overflow: hidden;
    margin: .5em;
    padding: .3em;
    border: 1px solid lightgray;
    border-radius: .3em;
}