.GraphViewer {
    display: flex;
    flex-direction: row;
}

.GraphViewer > * {
    background-color: azure;
}

.GraphViewer .sidebar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: .1em;
    width: 20em;
}

.GraphViewer .sidebar p, .GraphViewer .sidebar a {
    margin: .3em;
}

.GraphViewer svg {
    border-style: inset;
    background: rgb(245, 240, 230);
    width: 500px;
    min-width: 300px;
    height: 300px;
}

.GraphViewer details {
    border: 3px solid black;
    padding: 1em;
}

.GraphViewer .words {
    margin: 0px;
    background: rgb(240, 255, 240);
}

svg .dot {
    stroke-width: 2px;
}

line {
    stroke-linecap: round;
}

line.arrowTop {
    stroke: rgb(30, 20, 80);
    stroke-width: 2;
}

line.arrowBottom {
    stroke: rgb(15, 10, 40);
    stroke-width: 1;
    stroke-dasharray: 1,1;
}