details {
    max-width: 64rem;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(50, 60, 40);
    margin: .6em auto;
    padding: .4em;
}

th, td {
    border: 1px solid black;
    padding: .6em;
}

.problem {
    max-width: 64rem;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    margin: .6em auto;
    background-color: azure;
    padding: .4em;
}

.problem[unfinished] {
    border-color: red;
}

.problem[unfinished="partial"] {
    border-color: yellow;
}

.problem[open] > summary {
    border-bottom: 1px solid grey;
    border-radius: .5em;
}

.metaBunch {
    border: 3px outset rgb(130, 200, 140);
    margin: .3em;
    padding: .2em;
    display: inline-block;
}

.metaOption {
    font-size: small;
}

.alternateName {
    color: rgb(185, 100, 100);
    margin: 0 1em;
}

label {
    margin: 0 1ex;
}

input[type="text"] {
    width: 54ex;
}

.checkbox{
    display: inline;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 2px;
    font-size: 80%;
}

[hide] {
    display: none !important;
}