.phraseBuilder {
    background-color: rgb(220, 230, 255);
    border: 2px solid grey;
}

.phraseBuilder textarea {
    width: 70%;
    height: 15em;
}

.phraseBuilder .reqsDiv {
    border: 1px solid gray;
    border-radius: 6px;
    margin: 5px;
    padding: 1em;
    display: inline-block;
}

.phraseBuilder .reqsDiv > details > summary {
    margin: 1em;
}

.phraseBuilder .reqsDiv .reqsTable th {
    border: 3px double rgb(200, 210, 255);
    border-radius: 3px;
    background-color: rgb(220, 240, 255);
    padding: .4em;
}

.phraseBuilder .reqsDiv .reqsTable td {
    border: 1px solid rgb(200, 210, 255);
    border-radius: 3px;
    background-color: rgb(220, 240, 255);
}

.phraseBuilder .termsDiv {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 1em;
    margin: 5px;
}

.phraseBuilder .typeDiv {
    display: inline-block;
    padding: .3em;
    font-weight: bold;
    margin: .3em;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(240, 240, 255);
}

.phraseBuilder .nameDiv {
    display: inline-block;
    padding: .3em;
    margin: .3em;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(255, 255, 240);
}

[compiled="false"] .viewDiv {
    display: none;
}

.phraseBuilder .term {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: aliceblue;
    padding: .4em;
    margin: .2em;
}

.phraseBuilder .term .missileLaunch {
    float: right;
}

.phraseBuilder .term .termTitle[hasChildren] {
    border-bottom: 1px solid black;
    padding: 3px;
}

.phraseBuilder .children {
    margin: 4px 2em;
}

.phraseBuilder .children label {
    display: block;
}

.phraseBuilder .children select {
    margin: 2px 1em;
}

.reqRow[error] {
    outline: 3px solid red;
}

.termTypeSpot {
    font-weight: bold;
    margin-right: .4em;
}

.phraseBuilder .module {
    border: 1px solid grey;
    border-radius: 5px;
    margin: .2em;
    background-color: rgb(160, 255, 190);
}

.phraseBuilder .module > :not(summary) {
    margin: .5em;
}