svg {
    border-style: inset;
    background: rgb(245, 240, 230);
}

circle {
    stroke-width: 2;
}

[type="1"] {
    fill: rgb(150, 0, 0);
    color: rgb(150, 0, 0);
}

[type="2"] {
    fill: rgb(125, 190, 21);
    color: rgb(125, 190, 21);
}

[type="3"] {
    fill: rgb(184, 63, 221);
    color: rgb(184, 63, 221);
}

[type="4"] {
    fill: rgb(242, 120, 121);
    color: rgb(242, 120, 121);
}

[type="5"] {
    fill: rgb(250, 230, 42);
    color: rgb(250, 230, 42);
}

[type="top"] {
    stroke-width: 2;
    stroke: rgb(8, 90, 26);
    stroke-linecap: round;
}

[type="bottom"] {
    stroke-width: 1;
    stroke-dasharray: 2,2;
    stroke: rgb(8, 50, 26);
    stroke-linecap: round;
}

line {
    stroke-linecap: round;
}

line.arrowTop {
    stroke: rgb(30, 20, 80);
    stroke-width: 2;
}

line.arrowBottom {
    stroke: rgb(15, 10, 40);
    stroke-width: 1;
    stroke-dasharray: 1,1;
}