---
 # YAML Heading
---

@import "{{ site.theme }}";
@import "/assets/css/problemFormat.css";

// Change Content Width
.inner{
  max-width: 64rem;
  min-width: 64rem;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer.inner, #header_wrap .inner {
  padding: 0;
}

// --- Nav Bar Formatting ---
nav {
  padding: 0px;
  list-style: none;
  margin-left: 0px;
}

nav ul li {
  display: inline;
  float:left;
}

.ul_inline {
  float:left;
  padding: 10px 10px 10px 10px;
  margin: 0;
}

.ul_inline li{
  display: inline-block;
}

.topnav-left {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 14px;
  color: white;
}

// --- Page Formatting ---

body, html {
  height: 100%;
  // margin: 0;
  // padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#main_content_wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#main_content {
  flex: 1;
  padding-top: 10px; // Overrides site theme change
  border: 2px groove rgb(255, 255, 255);
  margin: 20px auto;
}

#footer_wrap {
  flex: 1;
  max-height: 50px;
}

// --- Topics List Formatting ---
.columnGrid {
  -webkit-column-count: 3;  /* Chrome, Safari, Opera */
  -moz-column-count: 3;     /* Firefox */
  column-count: 3;
}


// @import "../../css/BoxViewer.css",
//         "../../css/gui.css",
//         "../../css/tex.css",
//         "../../css/xmlViewer.css";
